/* Write your CSS code here. */
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #ffebeb, #ffeeee, #ffc0bb);
  height: 100vh;
}
img {
  height: 50px;
  width: 50px;
}
ul {
  display: flex;
  list-style: none;
}
button {
  border-style: none;
  background-color: transparent;
}
.feedback-question-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  width: 60%;
  padding: 20px;
  border-radius: 15px;

}
li {
  margin: 30px;
}
.heading {
  font-size: 27px;
}
